*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif
}
header{
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    background-color:white;
    
}
a{
    text-decoration: none;
    padding-right: 1rem;
    color: black;
}
.accedi{
    background-color:rgb(0, 97, 255);
    padding: 0.2rem;
    color: white;
}
.first-container{
    background-color: rgb(180, 208, 231);
    padding-top: 2rem;
    height: 500px;
}
h1{
    text-align: center;
    padding-top: 3rem;
    font-size: 50px;
    width: 800px;
    margin: auto;
}
.second-container{
    display: flex;
    justify-content:space-around;
    width: 900px;
    margin: auto;
    padding-top: 2rem;
    line-height: 20px;
}
.second-container_left{
    width: 450px;
}
.img{
   height:350px;
}
.inizia{
    background-color:rgb(0, 97, 255);
    padding: 0.2rem;
    color: white;
    margin: 2rem 0;
}
.third-container{
    width: 800px;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
h2{
    padding-bottom: 2rem;
}
.three-column{
    display: flex;
    justify-content:space-between;
    width: 800px;
    padding-top: 2rem;
}
.group{
    padding-left: 4rem;
}
.column{
    width: 250px;
    outline: auto;
    padding-left:1rem ;
    line-height: 30px;
}
.prova{
    background-color:rgb(0, 97, 255);
    padding: 0.5rem;
    color: white;
    margin: 1rem 0;
}
.fa-check{
    color:rgb(0, 97, 255);
}
.acquista{
    color: blue;
    text-decoration: underline;
    
}
h3,h4{
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.row-contenitor{
    
    width: 800px;
    padding-top: 2rem;
    margin: auto;
    outline: auto;
    padding-left:1rem ;
    line-height: 30px;
}
.team{
    text-align: center;
    margin:0 5rem;
}
.enterprise{
    display: flex;
  justify-content: space-between;
    
    
}


.contatta{
    display: flex;
    background-color:rgb(0, 97, 255);
    padding: 0.5rem;
    color: white;
    margin: 1rem 0;
    justify-content: flex-end;
    margin-right: 2rem;
}
.fourth-container{
    display: flex;
    justify-content:space-between;
    width: 800px;
    padding-top: 2rem;
    margin: 3rem auto;
}
.partner-img{
    width:100%;
    padding-right: 2rem;
    margin-bottom: 4rem;
}
.partner{
    width: 60%;
    
}
.search-partner{
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: white;
}
.fifth-container{
    display: flex;
    justify-content: space-between;
    width: 800px;
    flex-wrap: wrap;
    margin: auto;
}
.operation-box{
    display: flex;
    width: 250px;
    flex-direction: column;
}
.text-box{
    margin-bottom: 2rem;
}
.business{
    margin-left: 12rem;
    width: 400px;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.contatti{
    margin-left: 12rem;
    text-decoration: underline;
    color: rgb(24, 24, 221);
    
}
.squares{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.four-squares{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 506px;
    height: 506px;
    margin-top: 2rem;
    
  
}
.one-square{
   width: 506px;
   background-color: antiquewhite;
   padding: 0 2rem;
   margin-top: 2rem;
}
.designit-logo{
    background-image: url(../img/designit.svg);
    background-color: greenyellow;
    background-size: 8rem;
    background-repeat: no-repeat;
    background-position:4rem 6rem ;
    width: 253px;
    height: 253px;
}
.arizona-logo{
    background-image: url(../img/arizona_state_university.svg);
    background-size:7rem;
    background-repeat: no-repeat;
    background-position:4rem 5rem ;
    background-color: rgb(95, 16, 32);
    width: 253px;
    height: 253px;
}
.florida-logo{
    background-image: url(../img/university_of_florida.svg);
    background-color: blue;
    background-size:8rem;
    background-repeat: no-repeat;
    background-position:4rem 7rem ;
    width: 253px;
    height: 253px;
}
.topps-logo{
    background-image: url(../img/topps.svg);
    background-color:red;
    background-size:7rem;
    background-repeat: no-repeat;
    background-position:4rem 5rem ;
    width: 253px;
    height: 253px;
}
.world-bicycle{
    background-image: url(../img/world_bicycle_relief.svg);
    background-color:red;
    background-size:7rem;
    background-repeat: no-repeat;
    background-position:4rem 5rem ;
    width: 253px;
    height: 253px;
}
.hearst{
    background-image: url(../img/hearst_corp.svg);
    background-color:aqua;
    background-size:7rem;
    background-repeat: no-repeat;
    background-position:4rem 6rem ;
    width: 253px;
    height: 253px;
}
.lonely-planet{
    background-image: url(../img/lonely_planet.svg);
    background-color:blue;
    background-size:7rem;
    background-repeat: no-repeat;
    background-position:4rem 6rem ;
    width: 253px;
    height: 253px;
}
.clear-channel{
    background-image: url(../img/clear_channel.svg);
    background-color:yellow;
    background-size:7rem;
    background-repeat: no-repeat;
    background-position:4rem 6rem ;
    width: 253px;
    height: 253px;

}
.editor{
    padding-top: 2rem;
}
.lorem{
    padding-top: 2rem;
}
.big-logo{
    width: 250px;
    margin-top: 3rem;
}
.sixth-container{
    display: flex;
    background-color: rgb(140, 223, 223);
    padding:3rem 32rem;
}
.prova-gratuita{
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: white;
}
